@import url("https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Yeon+Sung&display=swap");
/*!RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*!INDEX*/
body {
  font-family: 'Quicksand', sans-serif; }

/*-----HEADER------*/
header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  header a img {
    height: 100%;
    width: 150px; }

nav ul {
  list-style: none;
  padding: 0cm;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 30px;
    color: #2c2b2b;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
    padding: 0px 5px 0px 5px; }
    nav ul li a:hover {
      background-color: rgba(228, 14, 14, 0.514);
      color: #2c2b2b; }

/*----MAIN-INDEX----*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero img {
    width: 50%;
    height: 650px;
    margin: 15px; }
  .hero div {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .hero div h1 {
      color: #e40e0e;
      font: weight 450px;
      font-size: 45px;
      padding: 0px;
      margin-bottom: 10px;
      text-align: left; }
    .hero div a {
      font-size: 25px;
      color: #f10b0b;
      font-weight: bolder;
      text-decoration: none;
      margin-top: 15px;
      transition: 2s;
      text-align: center; }
      .hero div a:hover {
        transform: scale(1.2); }

.proyecto {
  background-color: rgba(245, 173, 217, 0.281); }
  .proyecto h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #dd114e;
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    padding: 15px; }
  .proyecto .tarjetas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 350px; }
    .proyecto .tarjetas .little {
      width: 45%;
      height: 250px;
      background-color: rgba(167, 34, 85, 0.589);
      margin: 5px;
      padding: 5px;
      display: flex;
      justify-content: space-evenly;
      box-shadow: 10px 10px 5px 0px rgba(223, 136, 136, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(158, 146, 146, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(158, 146, 146, 0.75); }
      .proyecto .tarjetas .little div {
        width: 50%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .proyecto .tarjetas .little div h3 {
          color: #eae8ec;
          font-size: 35px;
          font-family: 'Yeon Sung', cursive;
          font-weight: 100px;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px; }
        .proyecto .tarjetas .little div p {
          color: black;
          font-size: 25px;
          font-family: 'Yeon Sung', cursive;
          font-weight: lighter;
          text-align: center; }
      .proyecto .tarjetas .little a img {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 5px; }

.carrusel div img {
  width: 100%;
  height: 380px; }

/*----MAIN-NOSOTROS----*/
.hero-nosotros {
  /*background-image: url(../img/orejas.jpg)*/
  background: linear-gradient(rgba(73, 73, 73, 0.281), rgba(73, 74, 75, 0.253)), url("../img/orejas.jpg");
  width: 100%;
  height: 73vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-attachment: fixed; }
  .hero-nosotros h1 {
    font-size: 50px;
    font-weight: 80px;
    color: rgba(238, 231, 235, 0.904);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }

.lola {
  width: 100%;
  height: 600px;
  background-color: #380303ad;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-attachment: fixed; }
  .lola .lola-presentacion {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .lola .lola-presentacion h2 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 45px;
      text-align: center;
      justify-content: center;
      margin: 15px; }
    .lola .lola-presentacion p {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 30px;
      margin: 15px 10px 15px 10px;
      padding: 3px;
      text-align: left; }
  .lola .foto-lola img {
    height: 500px;
    width: 100%;
    margin: 15px;
    margin-top: 1px;
    box-shadow: 10px 10px 5px 0px rgba(223, 136, 136, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(158, 146, 146, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(158, 146, 146, 0.75); }

.coco {
  width: 100%;
  height: 600px;
  background-color: #5c78a16b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-attachment: fixed; }
  .coco .fotococo img {
    height: 500px;
    width: 100%;
    margin: 15px;
    margin-top: 1px;
    box-shadow: 10px 10px 5px 0px rgba(223, 136, 136, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(158, 146, 146, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(158, 146, 146, 0.75); }
  .coco .lola-presentacion {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .coco .lola-presentacion h2 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 45px;
      text-align: center;
      justify-content: center;
      margin: 15px; }
    .coco .lola-presentacion p {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 30px;
      margin: 15px 10px 15px 10px;
      padding: 3px;
      text-align: left; }

.galeria h2 {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.493);
  color: #0f0f0f;
  text-align: center; }

.galeria .grid-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  gap: 10px; }
  .galeria .grid-galeria .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 11px -5px 7px 1px rgba(205, 206, 235, 0.79);
    -moz-box-shadow: 11px -5px 7px 1px rgba(205, 206, 235, 0.79);
    box-shadow: 11px -5px 7px 1px rgba(205, 206, 235, 0.79); }
  .galeria .grid-galeria .img1 {
    grid-column: span 2; }
  .galeria .grid-galeria .img4 {
    grid-column: span 2; }
  .galeria .grid-galeria .img5 {
    grid-row: span 2; }
  .galeria .grid-galeria .img7 {
    grid-row: span 2; }
  .galeria .grid-galeria .img8 {
    grid-row: span 2; }
  .galeria .grid-galeria .img9 {
    grid-row: span 2; }
  .galeria .grid-galeria .img11 {
    grid-column: span 2; }

/*----HISTORIA*/
.bienvenidos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%; }
  .bienvenidos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b1622d96; }
    .bienvenidos div h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 35px;
      margin: 20px;
      text-align: center; }
    .bienvenidos div p {
      font-size: 30px;
      text-align: center;
      margin: 15px; }
  .bienvenidos img {
    height: 700px;
    width: 70%;
    background-position: center; }

.origen-basset {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .origen-basset h2 {
    font-size: 35px;
    text-align: center;
    background-color: #8b2a03;
    color: white; }
  .origen-basset div {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .origen-basset div p {
      font-size: 20px;
      padding: 4px;
      margin: 5px;
      text-align: justify; }

.anatomia {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .anatomia div {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px; }
    .anatomia div h2 {
      text-align: center;
      margin: 15px;
      font-size: 35px;
      background-color: black;
      color: white; }
    .anatomia div p {
      text-align: justify;
      font-size: 20px;
      margin: 15px;
      padding: 4px; }
  .anatomia img {
    width: 60%;
    height: 300px;
    margin: 10px;
    margin-bottom: 20px; }

.comportamiento {
  display: flex;
  flex-direction: column; }
  .comportamiento h2 {
    font-size: 35px;
    text-align: center;
    background-color: #8b2a03;
    color: white;
    margin-bottom: 10px; }
  .comportamiento div p {
    text-align: justify;
    font-size: 20px;
    margin: 15px;
    padding: 4px; }

/*----CUIDADOS----*/
.cuidados {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .cuidados div {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .cuidados div h1 {
      text-align: center;
      font-size: 40px;
      margin: 10px;
      color: white;
      background-color: #4e17029f; }
    .cuidados div p {
      font-size: 25px;
      text-align: justify;
      padding: 4px;
      margin: 15px; }
  .cuidados img {
    margin: 10px;
    width: 60%;
    height: 600px; }

.alimentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px; }
  .alimentacion h2 {
    text-align: center;
    background-color: rgba(7, 7, 7, 0.836);
    color: #eae8ec;
    margin: 10px;
    padding: 5px;
    font-size: 30PX;
    width: 100%; }
  .alimentacion p {
    font-size: 25px;
    padding: 5px;
    margin: 25px;
    text-align: justify; }

.orejas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; }
  .orejas h2 {
    text-align: center;
    font-size: 28px;
    color: white;
    background-color: #4e17029f;
    margin: 10px;
    padding: 5px; }
  .orejas div {
    width: 50%; }
    .orejas div p {
      font-size: 25px;
      text-align: justify; }

.video {
  display: flex;
  justify-content: center;
  align-items: center; }
  .video img {
    width: 40%;
    height: 450px;
    margin: 20px; }
  .video iframe {
    height: 300px;
    width: 40%;
    margin: 15px; }

/*CONTACTO*/
.contactos {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #662702d3;
  margin-top: 10px; }
  .contactos div {
    width: 50%; }
    .contactos div h1 {
      color: #e0baba;
      font-size: 55px;
      text-align: center;
      margin: 5px; }
  .contactos img {
    width: 25%;
    height: 400px; }

.formulario {
  color: #a85e5e;
  background-color: #f5dcdc; }
  .formulario h2 {
    font-size: 35px;
    font-weight: 50px;
    padding: 15px;
    text-align: center; }
  .formulario .formularioComponente {
    width: 60%;
    font-size: 25px;
    padding: 5px;
    margin: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left; }

.boton {
  display: flex;
  justify-content: center; }
  .boton input {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    color: #f0efef;
    background-color: rgba(129, 13, 52, 0.733); }

/*------FOOTER------*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Quicksand', sans-serif; }
  footer a img {
    width: 200px;
    height: 230px; }
  footer .bassetlovers {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .bassetlovers p {
      font-size: 25px; }
    footer .bassetlovers div img {
      width: 70px;
      height: 70px;
      margin: 10px; }
  footer .seguinos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .seguinos h2 {
      font-size: 20px;
      text-align: center; }
    footer .seguinos a img {
      width: 70%;
      height: 70px;
      margin: 10px;
      transition: 1s; }
      footer .seguinos a img:hover {
        transform: scale(1.1); }

@media screen and (max-width: 1100px) {
  .origen-basset h2 {
    font-size: 30px; }
  .origen-basset div p {
    font-size: 18px; } }

@media screen and (max-width: 1000px) {
  .hero div h1 {
    font-size: 40px; }
  .proyecto .tarjetas .little div h3 {
    font-size: 30px;
    font-weight: 90px; }
  .proyecto .tarjetas .little div p {
    font-size: 24px; }
  .anatomia img {
    height: 300px;
    width: 70%; } }

@media screen and (max-width: 980px) {
  .galeria .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 450px; }
  .galeria .grid-galeria .grid-item {
    grid-column: span 1;
    grid-row: span 1; }
  .galeria .grid-galeria .grid-item .img1 {
    grid-column: span 2; }
  .galeria .grid-galeria .grid-item .img4 {
    grid-column: span 2; }
  .galeria .grid-galeria .grid-item .img8 {
    grid-row: span 2; }
  .galeria .grid-galeria .grid-item .img9 {
    grid-row: span 2; }
  .galeria .grid-galeria .grid-item .img10 {
    grid-row: span 2; }
  .origen-basset h2 {
    font-size: 27px; } }

@media screen and (max-width: 900px) {
  .proyecto .tarjetas .little div h3 {
    font-size: 26px;
    font-weight: 85px; }
  .proyecto .tarjetas .little div p {
    font-size: 24px; }
  .proyecto .tarjetas .little a img {
    width: 180px;
    height: 200px; }
  .hero-nosotros h1 {
    font-size: 40px;
    font-weight: 70px; }
  .carrusel div img {
    width: 100%;
    height: 300px; }
  .lola {
    width: 100%;
    height: 500px; }
  .lola .lola-presentacion p {
    font-size: 25px;
    margin: 10px; }
  .lola .foto-lola img {
    height: 450px;
    width: 100%;
    margin: 10px; }
  .contactos img {
    width: 30%;
    height: 350px; } }

@media screen and (max-width: 862px) {
  .hero div h1 {
    font-size: 38px; }
  .proyecto .tarjetas .little div p {
    font-size: 20px; } }

@media screen and (max-width: 840px) {
  .hero img {
    height: 550px;
    width: 45%; }
  .galeria .grid-galeria {
    grid-template-columns: 1fr; }
  .galeria .grid-galeria .grid-item {
    grid-column: span 1;
    grid-row: span 2; }
  .galeria .grid-galeria .img1 {
    grid-row: span 1; }
  .galeria .grid-galeria .img3 {
    grid-row: span 1; }
  .galeria .grid-galeria .img4 {
    grid-row: span 1; }
  .galeria .grid-galeria .img11 {
    grid-row: span 1; }
  .bienvenidos div h1 {
    font-size: 27px; }
  .bienvenidos div p {
    font-size: 23px; }
  .bienvenidos img {
    height: 600px; }
  .origen-basset h2 {
    font-size: 25px; }
  .origen-basset div p {
    font-size: 16px;
    padding: 3px; } }

@media screen and (max-width: 800px) {
  .hero img {
    height: 500px;
    width: 45%; }
  .proyecto .tarjetas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px; }
  .proyecto .tarjetas .little {
    width: 75%;
    height: 230px;
    margin: 10px;
    padding: 2px; }
  .proyecto .tarjetas .little div h3 {
    font-size: 35px;
    font-weight: 75px;
    margin-bottom: 5px; }
  .proyecto .tarjetas .little div p {
    font-size: 25px; }
  footer .bassetlovers div img {
    width: 50px;
    height: 50px;
    margin: 5px; }
  footer .seguinos h2 {
    font-size: 15px; }
  footer .seguinos a img {
    width: 75%;
    height: 65px;
    margin: 5px; } }

@media screen and (max-width: 780px) {
  .hero div h1 {
    width: 100%;
    font-size: 25px; }
  .hero div a {
    font-size: 20px;
    font-weight: bold; }
  .proyecto h2 {
    font-size: 28px; }
  .hero-nosotros h1 {
    font-size: 35px; }
  .lola {
    height: 450px;
    justify-content: center; }
  .lola .lola-presentacion h2 {
    font-size: 40px; }
  .lola .lola-presentacion p {
    font-size: 22px;
    margin: 5px; }
  .lola .foto-lola img {
    height: 350px; }
  .coco {
    height: 500px;
    justify-content: center; }
  .coco .fotococo img {
    height: 450px;
    width: 80%;
    margin: 10px; }
  .origen-basset h2 {
    font-size: 23px; }
  .origen-basset div p {
    font-size: 15px;
    padding: 5px; }
  .contactos div h1 {
    font-size: 45px; }
  .contactos img {
    width: 45%; } }

@media screen and (max-width: 750px) {
  .galeria .grid-galeria .img2 {
    grid-row: span 1; }
  .galeria .grid-galeria .img5 {
    grid-row: span 2; }
  .anatomia div h2 {
    font-size: 30px; }
  .anatomia div p {
    font-size: 18px;
    margin: 10px; }
  .carrusel div img {
    height: 280px; } }

@media screen and (max-width: 700px) {
  .origen-basset {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    height: 450px; }
  .origen-basset h2 {
    font-size: 35px;
    text-align: center;
    background-color: #8b2a03;
    color: white;
    margin: 10px; }
  .origen-basset div {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    padding: 5px;
    height: 300px; } }

@media screen and (max-width: 650px) {
  .carrusel div img {
    height: 250px; }
  footer a img {
    width: 160px;
    height: 180px; }
  footer .bassetlovers p {
    font-size: 15px; }
  footer .bassetlovers div img {
    width: 40px;
    height: 40px; }
  footer .seguinos h2 {
    font-size: 14px; }
  footer .seguinos a img {
    width: 70%;
    height: 60px; }
  .hero-nosotros {
    height: 68vh; }
  .hero-nosotros h1 {
    font-size: 30px; }
  .coco {
    height: 450px; }
  .coco .fotococo img {
    height: 400px; }
  .bienvenidos div h1 {
    font-size: 24px; }
  .bienvenidos div p {
    font-size: 19px; }
  .bienvenidos img {
    height: 550px; } }

@media screen and (max-width: 615px) {
  .hero div h1 {
    font-size: 25px; }
  .proyecto h2 {
    font-size: 20px; }
  .carrusel div img {
    height: 200px; }
  footer a img {
    width: 140px;
    height: 150px; }
  .proyecto .tarjetas .little {
    width: 90%; }
  .lola .lola-presentacion h2 {
    font-size: 35px; }
  .lola .lola-presentacion p {
    font-size: 22px; }
  .lola .foto-lola img {
    width: 175px; }
  .coco {
    height: 350px; }
  .coco .fotococo img {
    height: 300px; } }

@media screen and (max-width: 550px) {
  .proyecto .tarjetas {
    height: 480px; }
  .proyecto .tarjetas .little {
    height: 200px; }
  .proyecto .tarjetas .little div h3 {
    font-size: 28px; }
  .proyecto .tarjetas .little div p {
    font-size: 23px; }
  .proyecto .tarjetas .little a img {
    width: 100%;
    height: 100%; }
  footer .bassetlovers {
    flex-direction: column; }
  footer .bassetlovers div img {
    width: 30px;
    height: 30px; }
  footer .seguinos h2 {
    font-size: 14px; }
  footer .seguinos a img {
    width: 60%;
    height: 45px; }
  .hero-nosotros {
    height: 60vh; }
  .hero-nosotros h1 {
    font-size: 25px;
    font-weight: 60px; }
  .lola {
    height: 350px; }
  .lola .lola-presentacion h2 {
    font-size: 30px; }
  .lola .lola-presentacion p {
    font-size: 18px;
    margin: 10px; }
  .lola .foto-lola img {
    height: 300px;
    width: 180px; }
  .coco {
    height: 330px; }
  .coco .fotococo img {
    height: 260px; }
  .bienvenidos div h1 {
    font-size: 22px;
    margin: 7px; }
  .bienvenidos div p {
    font-size: 17px;
    margin: 7px;
    padding: 2px; }
  .bienvenidos img {
    height: 500px;
    width: 50%; }
  .anatomia div {
    width: 90%; }
  .anatomia img {
    height: 200px; }
  .contactos img {
    width: 40%; }
  .contactos div h1 {
    font-size: 40px; } }

@media screen and (max-width: 500px) {
  .carrusel div img {
    height: 160px; }
  footer {
    flex-direction: column; }
  footer .bassetlovers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px; }
  footer .bassetlovers p {
    font-size: 25px; }
  footer .seguinos {
    margin: 15px; }
  footer .seguinos h2 {
    font-size: 20px; }
  footer .seguinos a img {
    margin: 10px;
    width: 60%;
    height: 60px; }
  .bienvenidos div h1 {
    font-size: 20px; }
  .bienvenidos div p {
    font-size: 15px; }
  .bienvenidos img {
    height: 450px; } }

@media screen and (max-width: 480px) {
  .hero img {
    height: 350px; }
  .hero div h1 {
    font-size: 20px;
    padding: 4px; }
  .hero div a {
    font-size: 20px; }
  .galeria .grid-galeria .img5 {
    grid-row: span 1; }
  .galeria .grid-galeria .img10 {
    grid-row: span 1; }
  .galeria .grid-galeria .img11 {
    width: 464px;
    height: 440px; }
  .anatomia div p {
    font-size: 15px; }
  .comportamiento div p {
    font-size: 17px; } }

@media screen and (max-width: 465px) {
  nav ul {
    flex-direction: column; }
  .proyecto .tarjetas {
    width: 100%; }
  .proyecto .tarjetas .little div p {
    font-size: 20px; }
  .lola .lola-presentacion h2 {
    font-size: 25px; }
  .lola .lola-presentacion p {
    font-size: 17px; }
  .lola .foto-lola img {
    height: 250px;
    width: 160px; }
  .galeria .grid-galeria {
    width: 100%; }
  .origen-basset {
    height: 350px; }
  .origen-basset h2 {
    font-size: 30px;
    margin: 5px; }
  .origen-basset div {
    height: 250px; }
  .contactos img {
    height: 300px;
    width: 40%; }
  .contactos div h1 {
    font-size: 35px; } }

@media screen and (max-width: 440px) {
  .hero-nosotros h1 {
    font-size: 22px; }
  .lola {
    height: 300px; }
  .lola .lola-presentacion h2 {
    font-size: 23px; }
  .lola .lola-presentacion p {
    font-size: 14px;
    margin: 5px; }
  .lola .foto-lola img {
    height: 250px;
    width: 160px; }
  .coco {
    height: 300px; } }

@media screen and (max-width: 410px) {
  .hero img {
    height: 300px; }
  .carrusel div img {
    height: 140px; }
  .proyecto .tarjetas .little div h3 {
    font-size: 25px; }
  .proyecto .tarjetas .little div p {
    font-size: 18px; }
  .galeria h2 {
    font-size: 40px; }
  .origen-basset {
    height: 400px; }
  .origen-basset h2 {
    font-size: 25px;
    margin: 0px; }
  .origen-basset div {
    height: 300px; } }

@media screen and (max-width: 400px) {
  .hero-nosotros h1 {
    font-size: 20px; }
  .galeria .grid-galeria .grid-item {
    grid-row: span 1; } }
